
  $color1:#fcecdd;
  $color2:#ffc288;
  $color3:#fea82f;
  $color4:#ff6701;



body {
  margin: 0;
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: 'Satisfy', cursive;
}

.App{
  height: 100vh;
  width: 100vw;
}

.Navbar{
  height: 8vh;
  background-color: $color3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  button{
    background-color: $color4;
    border-radius: 10vw;
    width: 20vw;
    height: 5vh;
  }
}

.Home{
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  img{
    width: 40vw;
  }

  h1{
    margin: 0 auto;
    font-size: 5vh;
    margin-top: 8vh;
    font-style: italic;
    text-align: center;

  }

  hr{
    width: 85vw;
  
  }

  div{
    margin: 0 auto;
    margin-top: 3vh;
    width: 85vw;
    text-align: center;
    font-style: italic;
    font-size: 5vw;
    font-weight: bold;
    
    span{
      font-style: normal;
    }
  }
}

.Login{
  text-align: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  input{
    text-align: center;
    border-radius: 15vh;
  }

  button{
    margin-top: 2vh;
    padding: 1vh 8vw;
    border-radius: 2vh;
  }

}


















.chatBox {
  height: 400px;
  border: 3px solid black; 
  overflow-y: auto;
}

.hiddenDivChat {
  float:"left";
  clear: "both";
}

.userMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  div {
    border-radius: 30px;
    background-color: #ffd8a2;
    font-weight: 400;
    max-width: 70%;
    width: auto;
    padding: 5px 20px 10px;
  }
}

.friendMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  div {
    border-radius: 30px;
    background-color:#f7b081;
    font-weight: 400;
    max-width: 70%;
    width: auto;
    padding: 5px 20px 10px;
  }
}

.light {
  background-color: rgb(212, 212, 212);
  color: black;
}

.dark {
  background-color: rgb(39, 39, 39);
  color: rgb(212, 212, 212);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 20vw;
  height: 5vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dbab68;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0.5vw;
  bottom: 0.45vh;
  background-color: rgb(212, 212, 212);
  background-image: url(https://res.cloudinary.com/hobbiesphere/image/upload/v1621249645/LightMode_xp0pmn.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color:rgb(39, 39, 39);
}

.switch input:focus + .slider {
  box-shadow: 0 0 3px rgb(212, 212, 212);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(11.5vw);
  -ms-transform: translateX(11.5vw);
  transform: translateX(11.5vw);
  background-image: url(https://res.cloudinary.com/hobbiesphere/image/upload/v1621249667/DarkMode_oghl4g.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
