$color1:#fcecdd;
$color2:#ffc288;
$color3:#ff8432;
$color4:#fea82f;
$color5:#f7b995;

$evenly: space-evenly;
$between: space-between;
$start: flex-start;
$end: flex-end;

@mixin flex($direction, $justify){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}


body {
  margin: 0;
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: 'Pacifico', cursive;
}

.App{
  height: 100vh;
  width: 100vw;
  min-height: 100%
}

.Navbar{
  height: 8vh;
  background-color: $color3;
  @include flex(row, $evenly);

  img{
    padding-top: 1vh;
    width: 20vw;
  }
  
  button{
    font-size: 4vw;
    background-color: $color4;
    border-radius: 10vw;
    width: 20vw;
    height: 5vh;
  }
}

.Home{
  padding-top: 3vh;
  @include flex(column, center);
  margin: 0 auto;

  h1{
    margin: 0 auto;
    font-size: 8vw;
    margin-top: 6vh;
    font-style: italic;
    text-align: center;

  }

  hr{
    width: 85vw;
  
  }

  div{
    margin: 0 auto;
    margin-top: 2vh;
    width: 85vw;
    text-align: center;
    font-size: 5vw;
    
    span{
      font-style: normal;
    }
  }

  .Footer{
    font-size: 3vw;
    width: 100vw;
    height: 4vh;
    text-align: center;
    position: absolute;
    top: 94%;
    background-color: $color4;
    color: rgb(39, 39, 39);

    a{
      font-size: 4vw;
      text-decoration: none;
      color: inherit;
    }
  }
}

.Login{
  text-align: center;

  h1{
    font-size: 11vw;
  }

  form{
    @include flex(column, center);

    label {
      font-size: 6vw;
    }

    input{
      text-align: center;
      border-radius: 15vh;
      font-family: 'Pacifico', cursive;
      outline: none;
      font-size: 5vw;
    }

    button{
      font-size: 5vw;
      margin-top: 5vh;
      padding: 1vh 10vw;
      border-radius: 2vh;
      background-color: $color4;
    }
  }
}

.Signup{
  text-align: center;
  h1 {
    font-size: 11vw;
  }

  form{
    @include flex(column, center);

    input{
      text-align: center;
      border-radius: 15vh;
      font-family: 'Pacifico', cursive;
      font-size: 4vw;
      outline: none;
    }
  
    label {
      font-size: 6vw;
    }
  
    select{
      border-radius: 15vh;
      text-align: center;
      font-family: 'Pacifico', cursive;
      color:rgb(39, 39, 39);
      background-color: $color2;
      overflow: hidden;
      outline: none;
    }
    select::-webkit-scrollbar {display:none;}
    select::-moz-scrollbar {display:none;}
    select::-o-scrollbar {display:none;}
    select::-google-ms-scrollbar {display:none;}
    select::-khtml-scrollbar {display:none;}
  
  
    button{
      font-size: 4.5vw;
      margin-top: 2vh;
      padding: 1vh 8vw;
      border-radius: 2vh;
      background-color: $color4;
    }
  }
}

.Profile{
  h1{
    text-align: center;
    margin: 0;
    font-size: 8.5vw;
  }

  img{
    margin: 2vh 27.5vw 0;
    width: 45vw;
    height:45vw;
    border-radius: 50%;
  }
 
  .info{
    @include flex(row, $evenly);
    flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto;
    
    
    p{
      margin: 0;
      font-size: 4.5vw;
    }

    &-status{
      padding-bottom: 2.5vh;
      text-align: center;
    }

    &-location{
      width: 100%;
      text-align: center;
    }

    &-buttons{
      margin-top: 3vh;
      @include flex(row, $evenly);
      flex-wrap: wrap;

      button{
        font-size: 4vw;
        background-color: $color4;
        border-radius: 10vw;
        width: 38vw;
      }
    }

    &-delete{

      input{
        text-align: center;
        border-radius: 15vh;
        font-family: 'Pacifico', cursive;
        outline: none;
        font-size: 4.2vw;
      }

      p{
        margin: 1vh auto;
        text-align: center;
        font-size: 4.5vw;
      }
    }
  }
}

.ProfileNavbar{
  width: 100vw;
  @include flex(row, $evenly);

  button{
    margin-top: 1vh;
    background-color: $color4;
    border-radius: 10vw;
    width: 18vw;
    font-size: 4vw;
  }
}

.hobby{
  @include flex(column, center);
  margin: 0 auto;
  margin-top: 2vh;
  border: 1px solid $color4;
  width: 60vw;
  padding: 2vw;
  background-color: wheat;
  color: black;
  
    img{
      width: 60vw;
      height: 22vh;
    }

    p{
      margin: 0;
      text-align: center;
      font-size: 4.5vw;
    }

    h3{
      margin: 0;
      margin-bottom: 1vh;
      font-size: 6vw;
    }

    button{
      margin-top: 1vh;
      background-color: $color4;
      border-radius: 10vw;
      font-size: 4vw;
    }
}

.MyHobbies{

  ul{
    overflow-y: scroll;
    height: 68vh;
    padding: 0;
  }

  h1{
    text-align: center;
    font-size: 8vw;
  }

  &-empty{
    @include flex(column, center);
    p {
      margin-top: 3vh;
      font-size: 5vw;
    }

    button {
      margin-top: 2vh;
      padding: 0.7vh 5vw;
      border-radius: 2vh;
      background-color: $color4;
      font-size: 4.5vw;
    }
  }

}

.friend{
  width: 90vw;
  @include flex(row, $evenly);
  margin-top: 2vh;
  img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
  }

  p {
    font-size: 5vw;
  }

  button{
    padding: 0.4vh 3vw;
    border-radius: 2vh;
    background-color: $color4;
    font-size: 4vw;

  }

  &-req-buttons{
    @include flex(column, center);

    button{
      padding: 0.25vh 3vw;
      margin: 0.4vh 0vw;
    }
  }
}

.MyFriends{

  h2{
    margin: 0;
    margin-top: 2vh;
    text-align: center;
    font-size: 8vw;
  }

  p{
    text-align: center;
    font-size: 5.5vw;
  }

  .requestList{
    @include flex(column, center);

    div{
      margin: 0;
      overflow-y: scroll;
      height: 12vh;
    }

    p{
      height: 5vh;

    }
  }

  .friendList{
    @include flex(column, center);

    
    .friendContainer{
      margin-top: 2vh;
      overflow-y: scroll;
      height: 39vh;
      width: 90vw;
      @include flex(column, $start);
    }
    
    input{
      margin: 0 auto;
      text-align: center;
      border-radius: 15vh;
      font-family: 'Pacifico', cursive;
      font-size: 4vw;
      outline: none;
    }
  }
}

.AddHobbie{
  h2{
    font-size: 7vw;
    text-align: center;
  }

  form {
    @include flex(column, center);

    label {
      font-size: 6vw;
    }

    input{
      font-size: 4vw;
      outline: none;
      margin: 0 auto;
      text-align: center;
      border-radius: 15vh;
      font-family: 'Pacifico', cursive;
    }
  
    button{
      font-size: 4.5vw;
      margin-top: 3vh;
      padding: 0.7vh 8vw;
      border-radius: 2vh;
      background-color: $color4;
    }
  }

}

.EditUser{
  text-align: center;

  h1{
    margin: 0 auto;
    margin-top: 1vh;
    font-size: 7.5vw;
    text-decoration: underline;
  }

  form{
    @include flex(column, center);
    label{
      margin-top: 1vh;
      font-size: 5vw;
    }
  }

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    outline: none;
    font-size: 4vw;
  }

  textarea {
    overflow: scroll;
    resize: none;
    text-align: center;
    border-radius: 3vh;
    font-family: 'Pacifico', cursive;
    outline: none;
    font-size: 4vw;
  }
  

  input[type="file"]{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
  }

  select{
    border-radius: 15vh;
    font-size: 4vw;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color:rgb(39, 39, 39);
    background-color: $color2;
    overflow: hidden;
    outline: none;
  }

  select::-webkit-scrollbar {display:none;}
  select::-moz-scrollbar {display:none;}
  select::-o-scrollbar {display:none;}
  select::-google-ms-scrollbar {display:none;}
  select::-khtml-scrollbar {display:none;}


  button{
    margin-top: 2vh;
    padding: 0.7vh 5vw;
    border-radius: 2vh;
    background-color: $color4;
    font-size: 4vw;
  }

  p{
    font-size: 5vw;
  }

  .file-select {          
    position: relative;
    display: inline-block;
  }
   
  .file-select::before {
    background-color: $color4;
    color: black;
    font-size: 2.5vh;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 15vh;
    content: 'Select file';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;                
  }
   
  .file-select input[type="file"] {
    border-radius: 3vh;
    opacity: 0;
    width: 50vw;
    height: 3.5vh;
    display: inline-block;            
  }

  &-age-location{
    width: 80%;
    @include flex(row, $evenly);

    div {
      @include flex(column, center);

      .age{
        width: 25vw;
      }

    }

  }
}

.AllHobbies{
  @include flex(column, center);

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    font-size: 4.5vw;
    margin-top: 2vh;
    outline: none;
  }

  button{
    margin-top: 2vh;
    padding: 0.7vh 5vw;
    border-radius: 2vh;
    background-color: $color4;
  }
  
  .hobbyContainer{
    margin-top: 2vh;
    overflow-y: scroll;
    height: 75vh;
  }
}

.Chatlist{
    @include flex(column, center);
  
  h1 {
    text-align: center;
    font-size: 9vw;
  }

  input {
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    font-size: 4vw;
    outline: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .chatContainer{
    overflow-y: scroll;
    height: 60vh;
 }
 
 
}

.HobbieDetails{
  @include flex(column, center);

  h1{
    text-align: center;
    margin: 0;
    font-size: 9vw;
  }

  hr{
    width: 90vw;
  }

  &-img{
    width: 90vw;
    margin: 0 auto;
  }

  p{
    width: 75%;
    text-align: center;
    font-size: 5vw;
  }

  &-searchbar {
    @include flex(column, center)
  }

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    font-size: 4vw;
    outline: none;
  }

  button {
    padding: 0.7vh 3vw;
    border-radius: 2vh;
    background-color: $color4;
    font-size: 4vw;
  }

  .search-user {
    margin-top: 3vh;
  }

  .my-area {
    text-align: center;
  }

  .hobbieContainer{
    @include flex(column, $start);
    overflow-y: scroll;
    height: 70vh;
  }
}

.error-message{
  color: $color3;
  font-size: 5vw;
}

.Chat{
  @include flex(column, center);

  button{
    margin: 1vh 1vw;
    padding: 0.2vh 2vw;
    border-radius: 2vh;
    background-color: $color4;
    font-size: 5vw;
  }

  h3 {
    margin: 2vh;
    text-align: center;
    font-size: 6vw;
  }

  input{
    width: 72vw;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    outline: none;
  }

  .bar{
    @include flex(row, $between);
    width: 90vw;

    .photo{
      @include flex(row, $evenly);
      margin: 1vh 0;

      img{
        width: 10vh;
        height:10vh;
        border-radius: 50%;
        margin-right: 2vw;
      }
    }

  }

  .chatBox {
    height: 65vh;
    width: 95vw;
    border: 1vw solid black; 
    overflow-y: auto;
    padding-bottom: 1vh;
  }

  .hiddenDivChat {
    float:"left";
    clear: "both";
  }

  .userMessage {
    @include flex(row, $end);
    margin-top: 1vh;
    color: black;
    div {
      margin-right: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      border-radius: 3.5vh;
      background-color: #ffd8a2;
      font-weight: 400;
      max-width: 70vw;
      width: auto;
      padding: 0.5vh 2vw 1vw;

      p {
        text-align:justify;
        overflow-wrap: break-word;
        margin: 0.1vh 0.1vw;
        font-size: 4.5vw;
      }

      i {
        text-align: right;
        font-size: 3.5vw;
      }

      .read-icon {
        width: 5vw;
        height: 5vw;
        margin: 1vh 0 0 1vw;
      }
    }
  }

  .friendMessage {
    @include flex(row, $start);
    margin-top: 1vh;
    color: black;
    div {
      margin-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      border-radius: 3.5vh;
      background-color:#f7b081;
      font-weight: 400;
      max-width: 70vw;
      width: auto;
      padding: 0.5vh 2vw 1vw;

      p {
        text-align:justify;
        overflow-wrap: break-word;
        margin: 0.1vh 0.1vw;
        font-size: 4.5vw;
      }

      i {
        text-align: left;
        font-size: 3.5vw;
      }
    }
  }
}

.light {
  background-color: rgb(212, 212, 212);
  color: black;
}

.dark {
  background-color: rgb(39, 39, 39);
  color: rgb(212, 212, 212);
}


// DARK MODE - LIGHT MODE SWITCH
.switch {
  position: relative;
  display: inline-block;
  width: 20vw;
  height: 5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(39, 39, 39);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0.5vw;
  bottom: 0.45vh;
  background-color: rgb(212, 212, 212);
  background-image: url(https://res.cloudinary.com/hobbiesphere/image/upload/v1621249667/DarkMode_oghl4g.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color:#dbab68;
}

.switch input:focus + .slider {
  box-shadow: 0 0 3px rgb(212, 212, 212);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(11.5vw);
  -ms-transform: translateX(11.5vw);
  transform: translateX(11.5vw);
  background-image: url(https://res.cloudinary.com/hobbiesphere/image/upload/v1621249645/LightMode_xp0pmn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


// LOADING SPINNER
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}




.lds-circle {
  margin: 0;
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  width: 30vh;
  height: 30vh;
  background-image: url("https://res.cloudinary.com/hobbiesphere/image/upload/v1621249684/Logo_Phobbie_solo_logo_dpqaxm.png");
  background-size: contain;
  animation: lds-circle 10s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0, 0, 0, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(900deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(1800deg);
  }
}

.BigScreen{

  div{
    @include flex(column,center);
    width: 80vw;
    margin: 10vh auto;

    div {
      margin: 10vh auto;
      @include flex(row,center);
    }

    p{
      margin: 2vh auto;
      overflow-wrap: break-word;
      font-size: 3vh;
      text-align: center;
    }
  }
}

.gear1{
  height: 10vh;
  animation-name: ckw;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  animation-timing-function: linear;
  color: blue;
}
@keyframes ckw {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
.gear2{
  height: 10vh;
  animation-name: cks;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  animation-timing-function: linear;
  color: blue;
}
@keyframes cks {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.phobbie-logo{
  width: 50vw;
}