$color1:#fcecdd;
$color2:#ffc288;
$color3:#ff8432;
$color4:#fea82f;
$color5:#f7b995;

$evenly: space-evenly;
$between: space-between;
$start: flex-start;
$end: flex-end;

@mixin flex($direction, $justify){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}


body {
  margin: 0;
  font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: 'Pacifico', cursive;
}

.App{
  height: 100vh;
  width: 100vw;
}

.Navbar{
  height: 8vh;
  background-color: $color3;
  @include flex(row, $evenly);

  img{
    padding-top: 1vh;
    width: 20vw;
  }
  
  button{
    background-color: $color4;
    border-radius: 10vw;
    width: 20vw;
    height: 5vh;
  }
}

.Home{
  padding-top: 8vh;
  @include flex(column, center);
  margin: 0 auto;
  img{
    width: 40vw;
  }

  h1{
    margin: 0 auto;
    font-size: 5vh;
    margin-top: 8vh;
    font-style: italic;
    text-align: center;

  }

  hr{
    width: 85vw;
  
  }

  div{
    margin: 0 auto;
    margin-top: 3vh;
    width: 85vw;
    text-align: center;
    font-size: 5vw;
    
    span{
      font-style: normal;
    }
  }
}

.Login{
  text-align: center;

  form{
    @include flex(column, center);
  }

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
  }

  button{
    margin-top: 2vh;
    padding: 1vh 8vw;
    border-radius: 2vh;
    background-color: $color4;
  }

}

.Signup{
  text-align: center;

  form{
    @include flex(column, center);
  }

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
  }

  select{
    border-radius: 15vh;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color:rgb(39, 39, 39);
    background-color: $color2;
    overflow: hidden;
  }

  button{
    margin-top: 2vh;
    padding: 1vh 8vw;
    border-radius: 2vh;
    background-color: $color4;
  }
}

.Profile{
  h1{
    text-align: center;
    margin: 0;
    font-size: 8.5vw;
  }

  img{
    margin: 2vh 27.5vw 0;
    width: 45vw;
    height:45vw;
    border-radius: 50%;
  }
 
  .info{
    @include flex(row, $evenly);
    flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto;
    
    
    p{
      margin: 0;
      font-size: 4.5vw;
    }

    &-status{
      padding-bottom: 2.5vh;
      text-align: center;
    }

    &-location{
      width: 100%;
      text-align: center;
    }

    &-buttons{
      margin-top: 3vh;
      @include flex(row, $evenly);
      flex-wrap: wrap;

      button{
        background-color: $color4;
        border-radius: 10vw;
        width: 38vw;
      }
    }

    &-delete{

      input{
        text-align: center;
        border-radius: 15vh;
        font-family: 'Pacifico', cursive;
      }

      p{
        margin: 0;
        text-align: center;
      }
    }
  }
}

.ProfileNavbar{
  width: 100vw;
  @include flex(row, $evenly);

  button{
    margin-top: 1vh;
    background-color: $color4;
    border-radius: 10vw;
    width: 18vw;
  }
}

.hobby{
  @include flex(column, center);
  margin: 0 auto;
  margin-top: 2vh;
  border: 1px solid $color4;
  width: 60vw;
  padding: 2vw;
  background-color: wheat;
  color: black;
  
    img{
      width: 60vw;
      height: 22vh;
    }

    p{
      margin: 0;
      text-align: center;
    }

    h3{
      margin: 0;
      margin-bottom: 1vh;
    }
}

.MyHobbies{

  ul{
    overflow-y: scroll;
    height: 68vh;
    padding: 0;
  }

  h1{
    text-align: center;
  }
}

.friend{
  width: 90vw;
  @include flex(row, $evenly);
  margin-top: 2vh;
  img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
  }
  button{
    padding: 0.4vh 3vw;
    border-radius: 2vh;
    background-color: $color4;
  }

  &-req-buttons{
    @include flex(column, center);

    button{
      padding: 0.25vh 3vw;
      margin: 0.4vh 0vw;
    }
  }
}

.MyFriends{

  h2{
    margin-top: 1vh;
    text-align: center;
  }

  p{
    text-align: center;
  }

  .requestList{
    @include flex(column, center);

    div{
      margin: 0;
      overflow-y: scroll;
      height: 12vh;
      
    }

    p{
      height: 5vh
    }
  }

  .friendList{
    @include flex(column, center);

    
    .friendContainer{
      margin-top: 2vh;
      overflow-y: scroll;
      height: 39vh;
      width: 90vw;
      @include flex(column, $start);
    }
    
    input{
      margin: 0 auto;
      text-align: center;
      border-radius: 15vh;
      font-family: 'Pacifico', cursive;
    }
  }
}

.EditUser{
  text-align: center;

  h1{
    margin: 0 auto;
    margin-top: 1vh;
  }

  form{
    @include flex(column, center);
  }

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
  }

  button{
    margin-top: 2vh;
    padding: 0.7vh 5vw;
    border-radius: 2vh;
    background-color: $color4;
  }
}

.AllHobbies{
  @include flex(column, center);


  .CreateHobby {
    h2 {
      text-align: center;
    }

    form {
      @include flex(column, center);
  }
}

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    margin-top: 2vh;
  }

  button{
    margin-top: 2vh;
    padding: 0.7vh 5vw;
    border-radius: 2vh;
    background-color: $color4;
  }
  
  .hobbyContainer{
    margin-top: 2vh;
    overflow-y: scroll;
    height: 75vh;
  }
}

.Chatlist{
    @include flex(column, center);
  
  h1{
    text-align: center;
  }

  input{
    text-align: center;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
  }

 a{
   text-decoration: none;
   color: inherit;
 }

 .chatContainer{
   overflow-y: scroll;
   height: 60vh;
 }
 
 
}

.error-message{
  color: $color3;
}

.Chat{
  @include flex(column, center);

  button{
    margin: 1vh 1vw;
    padding: 0.2vh 2vw;
    border-radius: 2vh;
    background-color: $color4;
  }

  h2{
    margin: 0;
    text-align: center;
  }

  input{
    width: 72vw;
    border-radius: 15vh;
    font-family: 'Pacifico', cursive;
    outline: none;
  }

  .bar{
    @include flex(row, $between);
    width: 90vw;

    .photo{
      @include flex(row, $evenly);

      img{
        width: 10vh;
        height:10vh;
        border-radius: 50%;
        margin-right: 2vw;
      }
    }

  }

  .chatBox {
    height: 65vh;
    width: 95vw;
    border: 1vw solid black; 
    overflow-y: auto;
    padding-bottom: 1vh;
  }

  .hiddenDivChat {
    float:"left";
    clear: "both";
  }

  .userMessage {
    @include flex(row, $end);
    margin-top: 1vh;
    color: black;
    div {
      margin-right: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      border-radius: 3.5vh;
      background-color: #ffd8a2;
      font-weight: 400;
      max-width: 70vw;
      width: auto;
      padding: 0.5vh 2vw 1vw;

      p {
        text-align:justify;
        overflow-wrap: break-word;
        margin: 0.1vh 0.1vw;
      }
      i {
        text-align: right;
      }
    }
  }

  .friendMessage {
    @include flex(row, $start);
    margin-top: 1vh;
    color: black;
    div {
      margin-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      border-radius: 3.5vh;
      background-color:#f7b081;
      font-weight: 400;
      max-width: 70vw;
      width: auto;
      padding: 0.5vh 2vw 1vw;

      p {
        text-align:justify;
        overflow-wrap: break-word;
        margin: 0.1vh 0.1vw;
      }
      i {
        text-align: left;
      }
    }
  }
}

.light {
  background-color: rgb(212, 212, 212);
  color: black;
}

.dark {
  background-color: rgb(39, 39, 39);
  color: rgb(212, 212, 212);
}

.switch {
  position: relative;
  display: inline-block;
  width: 20vw;
  height: 5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(39, 39, 39);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0.5vw;
  bottom: 0.45vh;
  background-color: rgb(212, 212, 212);
  background-image: url(https://res.cloudinary.com/hobbiesphere/image/upload/v1621249667/DarkMode_oghl4g.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color:#dbab68;
}

.switch input:focus + .slider {
  box-shadow: 0 0 3px rgb(212, 212, 212);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(11.5vw);
  -ms-transform: translateX(11.5vw);
  transform: translateX(11.5vw);
  background-image: url(https://res.cloudinary.com/hobbiesphere/image/upload/v1621249645/LightMode_xp0pmn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
